

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  body { text-align: center; font:300 20px/1.7 'Roboto Condensed';}

  .header { display: flex; justify-content: center; align-items: center; }

  .navbar { display: flex; justify-content: center; align-items: center; background: #abcdef; }

  .comunicación { text-align: left; }

  .list-services {display: flex; align-items: center; justify-content: center;}
  .list-services figure { display: flex; justify-content: center; align-items: center; flex-flow: column;}

  .header { height: 450px; background: url(../images/dummy-header.jpeg) no-repeat center top; background-size: cover;}
  .navbar { height: 63px; background: #34495e; border-bottom: 1px dashed #3498db;}
    .navbar a { padding: 0 20px; color: #fff; text-decoration: none; text-transform: uppercase; font: 20px 'Stint Ultra Condensed';}
  .title {margin-bottom: 40px; font: 60px 'Stint Ultra Condensed'; text-transform: uppercase;}
  p {margin-bottom: 40px;}

  .btn { border: 2px solid #fff; padding: 10px 40px; display: inline-block; text-decoration: none; color: #fff;}

  .content { padding: 80px 0;}

    .who {background: #5E8E92; color: #fff;}
      .who p { max-width: 1055px; margin: 0 auto;}
    .services {background: #34495e;color: #fff;}

     .comunicación {background: url(../images/dummy-tarifas.jpg) no-repeat center top; background-size: cover; color:white;}
      .contain {max-width: 1055px; margin: 0 auto;}
      .comunicación p {max-width: 450px;}

    .localization {color:#5E8E92; padding-bottom: 0;}
      .localization .map img {max-width: 100%; width: 100%;}

  .list-services figure { position: relative; width: 150px; height: 190px;}
  .list-services figure:after {content: ""; position: absolute; top: 0; left: 0; border-radius: 50%; z-index: 0; background: #fff; width: 150px; height: 150px;}
    .list-services img {position: relative; z-index: 1;}
  .list-services li { padding: 0 30px; }
  .list-services figcaption { position: relative; left: 0; right: 0; bottom: -40px;}

#logo{
  width: 90%;
  height: 400px;
}

#fuente{
  font-size: 1rem;
 float: right;
}

footer{
    height: 50px;
    background: #34495e;
    color: white;

}

